@charset "UTF-8";
*{
    margin:0px;
    padding:0px;
    border: none;
    font-family: times new roman, verdana;
}


#conteudo{
    margin-top: 2vw;
    background-image: url(../imagens/fundo.png);
    background-position: center;
    background-size:90%;
    color:#000000;
    background-attachment: fixed;
    
}

h1{
    text-align: center;
    font-size: 3vw;
}

#obg{
    font-size: 1.3vw;
}


.camp{
    width: 19vw;
    height: 2vw;
    font-size: 1.8vw;
    
    color:#000000;
    
}

legend{
    font-size: 2.2vw;
}

.campos{
    color: #0054a6;
    height: 1.5vw;
    width: 4vw;
    font-size: 1.1vw;
}

#pslocais{
    height: 2vw;
    width: 25vw;
    font-size: 1.1vw;
    
}

p{
    text-align: center;
}

fieldset{
    margin-left: 10%;
    font-size: 1.5vw;
}
#rodape{
    clear: both;
}

#coment{
    font-size: 1.3vw;
}

header{
	height:38vw;
	float:center;
	background-image: url(../imagens/banner.png);
    background-repeat: no-repeat;
    background-size: 100vw;
}


nav{
	width: 100%;
	float:right;
	background-color: #0054a6;
	height:42px;
}

nav ul{
	width:100%;
	list-style-type:none;
	float:left;
}


nav li{
	width:11vw;
	float:left;
}

nav a{

	color:#fff;
	text-decoration:none;
    font-size: 1.5vw;
	width:11vw;
	float:left;
	text-align:center;
	line-height:43px;
	border-right: 1px solid #666;
	transition:all 0.9s;
}

nav a:hover{
    width: 11vw;
	background-color:#FFC125;

}

nav li:last-child a{
	border:none;
}

article{ 
	width:100%;
	float:left;
	background-color:#ffff;
}

#empre{
    color:white;
    text-align: center;
    font-size: 1vw;
}

#autoria{
    text-align: center;
    float: center;
    font-size: 1vw;
}

footer{    
    background-color:#0054a6;
    padding:7%;
    color: white;
}
