@charset "UTF-8";
*{
    margin:0px;
    padding:0px;
    border: none;
    font-family: times new roman, verdana;
}



#conteudo{
    margin-top: 2vw;
    background-image: url(../imagens/fundo.png);
    background-position: center;
    background-size:90%;
    background-attachment: fixed;
}

.form1{
    margin-left: 10%;
    color: #ffffff;
}

#rodape{
    clear: both;
}

header{
	height:38vw;
	float:center;
	background-image: url(../imagens/banner.png);
    background-repeat: no-repeat;
    background-size: 100vw;

}

nav{
	width: 100%;
	float:right;
	/*cor do menu*/
	background-color:#0054a6;
	height:42px;
}

nav ul{
	width:100%;
	list-style-type:none;
	float:left;
}



nav li{
	width:11vw;
	float:left;
}

nav a{
	/*cor da letra do menu*/
	color:#fff;
	text-decoration:none;
    font-size: 1.5vw;
	width:11vw;
	float:left;
	text-align:center;
	line-height:43px;
	border-right: 1px solid #666;
	transition:all 0.9s;
}

nav a:hover{
    width: 11vw;
	background-color:#FFC125;

}

nav li:last-child a{
	border:none;
}

h1{
    text-align: center;
    color: #000000;
    font-size: 5vw;
}
p{
    color: #000000;
    font-size: 2vw;
    text-align: center;
}

#empre{
    color:white;
    text-align: center;
    font-size: 1vw;
}

article{ 
	width:100%;
	float:left;
	
	background-color:#ffff;
}

#autoria{
    text-align: center;
    float: center;
    font-size: 1vw;
}

footer{    
    background-color:#0054a6;
    padding:7%;
    color: white;
}
